*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

h1 {
    font-size: 38px;
    line-height: 9vh;
    text-align: center;
}

.game {
    padding: 55px 0;
}

.controls__container {
    max-width: 1020px;
    padding: 0 20px;
    margin: 0 auto;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 45px;
}

.game__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__box {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(min(100%, 140px), 1fr));
    grid-template-rows: repeat(4, minmax(min(100%, 140px), 1fr));
    grid-gap: 15px;
}

.card {
    position: relative;
    width: 140px;
    height: 140px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card.is-flipped {
    width: 140px;
    height: 140px;
    transform: rotateY(-180deg);
}

.card__face {
    position: absolute;
    width: 140px;
    height: 140px;
    backface-visibility: hidden;
}

.card__face--back {
    transform: rotateY(180deg);
}
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
    cursor: pointer;
}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    padding: 35px;
    transition: 0.5s all;
    border-radius: 20px;
    background: radial-gradient(89.19% 192.84% at 50% 100%, #330002 0%, #700306 100%);
    box-shadow: 0px 0px 15px 2px rgba(89, 8, 16, 0.9);
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    text-decoration: none;
}
.popupText, .popupMainText, .popupTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5em;
    font-size: 1.3em;
}
.popupTableBtns{
    display: flex;;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.popupBtn{
    display: flex;
    background: radial-gradient( #330002 0%, #700306 100%);
    box-shadow: 0px 0px 10px 3px rgba(55, 5, 10, 0.9);
    border: none;
    outline: none;
    font-size: 20px;
    padding: 2% 8%;
    border-radius: 36px;
    margin: 4% 3% 0% 3%;
    cursor: pointer;
    transition: 0.6s;
}
.popupBtn:hover, .gameBtnsNew:hover, .gameBtnsResalts:hover{
    background: radial-gradient( #2b0002 0%, #520204 100%);
    box-shadow: 0px 0px 10px 5px rgba(21, 2, 4, 0.9);
    transform: scale(1.03);
}
.gameBtns{
    display: flex;
}
.gameBtnsNew, .gameBtnsResalts{
    display: flex;
    background: radial-gradient( #330002 0%, #700306 100%);
    box-shadow: 0px 0px 10px 3px rgba(55, 5, 10, 0.9);
    background: radial-gradient(89.19% 192.84% at 50% 100%, #330002 0%, #700306 100%);
    border: none;
    outline: none;
    font-size: 20px;
    padding: 3% 10%;
    border-radius: 36px;
    cursor: pointer;
    transition: 0.6s;
    margin-left: 5%;
    white-space: nowrap
}

@media (max-width: 1200px) {
    .game__box {
        grid-template-columns: repeat(4, minmax(min(100%, 110px), 1fr));
        grid-template-rows: repeat(4, minmax(min(100%, 110px), 1fr));
    }

    .card,
    .card.is-flipped,
    .card__face {
        width: 110px;
        height: 110px;
    }
}

@media (max-width: 1080px) {
    .controls {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }

    .controls {
        font-size: 22px;
    }

    .controls span {
        display: block;
        padding-top: 10px;
        text-align: center;
    }

    .game__box {
        grid-template-columns: repeat(4, minmax(min(100%, 100px), 1fr));
        grid-template-rows: repeat(4, minmax(min(100%, 100px), 1fr));
        grid-gap: 10px;
    }

    .card,
    .card.is-flipped,
    .card__face {
        width: 100px;
        height: 100px;
    }

}

@media (max-width: 480px) {
    .controls__container {
        padding: 0 10px;
    }

    .game {
        padding: 35px 0;
    }

    .controls {
        font-size: 18px;
    }

    .game__box {
        grid-template-columns: repeat(4, minmax(min(100%, 65px), 1fr));
        grid-template-rows: repeat(4, minmax(min(100%, 65px), 1fr));
        grid-gap: 10px;
    }

    .card,
    .card.is-flipped,
    .card__face {
        width: 65px;
        height: 65px;
    }

}