*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

h1 {
    font-size: 38px;
    line-height: 9vh;
    text-align: center;
}

.game {
    padding: 55px 0;
}

.controls__container {
    max-width: 1020px;
    padding: 0 20px;
    margin: 0 auto;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 45px;
}

.game__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__box {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(min(100%, 140px), 1fr));
    grid-template-rows: repeat(4, minmax(min(100%, 140px), 1fr));
    grid-gap: 15px;
}

.card {
    position: relative;
    width: 140px;
    height: 140px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card.is-flipped {
    width: 140px;
    height: 140px;
    transform: rotateY(-180deg);
}

.card__face {
    position: absolute;
    width: 140px;
    height: 140px;
    backface-visibility: hidden;
}

.card__face--back {
    transform: rotateY(180deg);
}

@media screen and (max-width: 1080px) {
    .controls {
        font-size: 28px;
    }
}

@media screen and (max-width: 680px) {
    h1 {
        font-size: 32px;
    }

    .controls {
        font-size: 22px;
    }

    .controls span {
        display: block;
        padding-top: 10px;
        text-align: center;
    }

    .game__box {
        grid-template-columns: repeat(4, minmax(min(100%, 100px), 1fr));
        grid-template-rows: repeat(4, minmax(min(100%, 100px), 1fr));
        grid-gap: 10px;
    }

    .card,
    .card.is-flipped,
    .card__face {
        width: 100px;
        height: 100px;
    }

}

@media screen and (max-width: 415px) {
    .controls__container {
        padding: 0 10px;
    }

    .game {
        padding: 35px 0;
    }

    .controls {
        font-size: 18px;
    }

    .game__box {
        grid-template-columns: repeat(4, minmax(min(100%, 65px), 1fr));
        grid-template-rows: repeat(4, minmax(min(100%, 65px), 1fr));
        grid-gap: 10px;
    }

    .card,
    .card.is-flipped,
    .card__face {
        width: 65px;
        height: 65px;
    }

}